@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
.about {
  background-color: #0a2850;
  color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
}
.about__title {
  margin: 0;

  z-index: 1;
  max-width: 251px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
}
.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out 0s infinite;
}
.about__content {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  margin: 119px 80px 173px auto;
}
.about__paragraph {
  margin: 0;
}
.about__paragraph.special {
  padding-top: 20px;
  padding-bottom: 20px;
}
