.page {
  max-width: 1600px;
  min-width: 1100px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}
.header {
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  background-image: url(../images/background_header.svg);
  background-size: cover;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
}
.nav__links {
  display: flex;
  padding: 0;

  margin: 0;
  gap: 20px;
  list-style-type: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: black;
  text-decoration: none;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}
.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  margin: 183px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  letter-spacing: -0.6px;
  position: relative;
}
.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  display: block;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  position: relative;
}
.header__image {
  width: 646px;
  height: 568px;
  top: 124px;
  position: absolute;
  top: 124px;
  right: 5px;
}
.header__description {
  max-width: 683px;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0 80px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.header__paragraph {
  padding-right: 80px;
  padding-bottom: 40px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: auto 80px 40px 80px;
}
.recipes {
  background-image: url(../images/background_recipes.svg);
  background-color: #0a2750;
  color: #ffffff;

  padding: 100px 80px 215px;
}
.recipes__title {
  max-width: 580px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 0;
  margin-bottom: 0;
}
.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 80px 0;
}
.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.recipes__iframe {
  height: 273px;
  width: 480px;
  border: none;
}
.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.recipes__video-caption:last-of-type {
  line-height: 0;
}
